.projectSection {
    width: 100%;
    min-height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0 20px 0;
}

.projectHeading {
    width: fit-content;
    height: 120px;
    margin-top: 50px;
}

.projectHeading h2 {
    font-size: 40px;
    font-weight: 700;
}

.projectHeadingUnderline {
    width: 80%;
    height: 8px;
    background-color: var(--primary-color);
    border: none;
    margin: 25px auto;
}

.projectTiles {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px;
    justify-items: center;
    margin-top: 30px;
}

.projectCard {
    width: 100%; 
    max-width: 375px; 
    height: 450px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin: 8px;
    border-radius: 8px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background: linear-gradient(135deg, white, #e9f5f7);
    transition: all 0.3s ease;
}

.projectCard:hover {
    transform: translateY(10px);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
}

.title i, .title h2, .tech, .description {
    color: var(--primary-color);
}

.title i {
    margin-bottom: 25px;
    font-size: 50px;
    animation: bounce 1.5s infinite;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-10px);
    }
    60% {
        transform: translateY(-5px);
    }
}

.title h2 {
    font-size: 30px;
    font-weight: 700;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.tech {
    display: inline-block;
    font-size: 30px;
    margin-right: 15px;
}

.description {
    font-size: 18px;
    margin: 20px 0;
    max-width: 550px;
    height: 95px;
}

.demo, .sourceCode {
    width: 150px;
    height: 45px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: medium;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin: 30px 15px 0 0;
    transition: all 0.3s ease;
}

.demo:hover, .sourceCode:hover {
    transform: translateY(-5px);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}

.openIcon, .githubIcon {
    color: white;
    margin-left: 10px;
}

@media (max-width: 1199px){
    .tech {
        font-size: 25px;
        margin-right: 10px;
    }

    .demo, .sourceCode {
        width: 120px;
        height: 45px;
        font-size: small;
        margin: 30px 10px 0 0;
    }
}

@media (max-width: 995px){
    .projectTiles{
        grid-template-columns: repeat(2, 1fr); 
    }

    .projectCard{
        max-width: 350px;
    }

}

@media (max-width: 767px){
    .projectTiles{
        grid-template-columns: repeat(1, 1fr); 
    }

    .projectHeading {
        width: fit-content;
        height: 100px;
        margin-top: 30px;
    }

    .projectHeading h2 {
        font-size: 35px;
        font-weight: 700;
    }

    .projectCard{
        max-width: 380px;
        height: 350px;
    }

    .title i {
        font-size: 35px;
    }

    .title h2 {
        font-size: 25px;
    }

    .description{
        font-size: 16px;
        max-width: 350px;
        height: 60px;
        margin: 20px 0 20px 0;
    }

    .demo, .sourceCode {
        width: 120px;
        height: 45px;
        font-size: small;
        margin: 15px 10px 0 0;
    }
}

@media (max-width: 479px){
    .projectHeading {
        height: 100px;
    }
    
    .projectHeading h2 {
        font-size: 25px;
        font-weight: 700;
    }
    
    .projectHeadingUnderline {
        height: 6px;
        margin: 15px auto;
    }

    .projectCard{
        max-width: 340px;
        height: 300px;
    }

    .title i {
        font-size: 28px;
    }

    .title h2 {
        font-size: 22px;
    }

    .description{
        font-size: 16px;
        max-width: 350px;
        height: 60px;
        margin: 20px 0 20px 0;
    }

    .description{
        font-size: 14px;
        max-width: 300px;
        height: 60px;
        margin: 20px 0 20px 0;
    }

    .tech {
        font-size: 18px;
        margin-right: 15px;
    }

    .demo, .sourceCode {
        width: 120px;
        height: 35px;
        font-size: smaller;
        margin: 15px 10px 0 0;
    }
}