* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Overpass", sans-serif;
    font-weight: 500;
    cursor: default;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

:root {
    /*Base color will not change*/
    --base-accent-color: #224455;

    --primary-accent-color: #224455;
    --primary-font-color: #181a1b;
    --primary-background-color: #f7f7f7;
    --linear-gradient: linear-gradient(135deg, white, #e9f5f7);

    /*Background for the tech Stack*/
    --tech-tiles-background: #f7f7f7;

    /*Background for the contact form input fields*/
    --input-field-background-color: white;

    /*project button and tech stack hover shadow*/
    --project-button-hover-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    --tech-stack-hover-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.dark-mode {
    --primary-accent-color: #9FC5D9;
    --primary-font-color: #f7f7f7;
    --primary-background-color: #181a1b;
    --linear-gradient: linear-gradient(135deg, rgb(24, 26, 27), rgb(18, 46, 51));
    ;

    /*Background for the tech Stack*/
    --tech-tiles-background: #121314;

    /*Background for the contact form input fields*/
    --input-field-background-color: #121314;

    /*project button and tech stack hover shadow*/
    --project-button-hover-shadow: rgba(0, 0, 0, 0.5) 0px 15px 30px 5px;
    --tech-stack-hover-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

body {
    max-width: 100vw;
    min-height: 100dvh;
    margin: 0;
    background-color: var(--primary-background-color);
    overflow-x: hidden;
    transition: all 0.3s ease;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--primary-font-color);
}

header {
    width: 1200px;
    height: 100px;
    padding-top: 20px;
    z-index: 999;
    margin: 0 auto;
}

.navBar {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.profilePicture {
    width: 60px;
    height: 60px;
    border-radius: 10px;
    box-shadow: rgba(12, 10, 10, 0.2) 0px 2px 8px 0px;
    cursor: pointer;
    user-select: none;
    transition: all 0.3s ease;
}

.navEl {
    display: inline-block;
    margin-right: 40px;
    font-size: 20px;
    cursor: pointer;
    user-select: none;
    transition: all 0.3s ease;
}

.navEl:hover {
    transform: translateY(-5px);
    color: var(--primary-accent-color);
    font-size: 22px;
    font-weight: 700;
}

.navBarforSmallerScreens {
    display: none;
}

main {
    width: 1200px;
    height: 100%;
}

section {
    margin-bottom: 100px;
    color: var(--primary-font-color);
}

footer {
    margin-bottom: 25px;
    font-size: 12px;
    font-weight: 700;
}

a {
    text-decoration: none;
    color: var(--primary-font-color);
}

.fa-brands,
.fa-solid {
    cursor: pointer;
}

@media (max-width: 1199px) {
    header {
        width: 1000px;
    }

    main {
        width: 1000px;
    }
}

@media (max-width: 995px) {
    header {
        width: 768px;
    }

    main {
        width: 768px;
    }

}

@media (max-width: 767px) {
    header {
        width: 480px;
        padding: 0 5px 0 5px;
    }

    main {
        width: 480px;
    }

    section {
        padding: 0 20px 0 20px;
        margin-bottom: 40px;
    }

    .profilePicture {
        width: 45px;
        height: 45px;
    }

    .navOptions {
        display: none;
    }

    .navBarforSmallerScreens {
        display: block;
        user-select: none;
        cursor: pointer;
        font-size: 20px;
        position: relative;
    }

    .fa-xmark {
        display: none;
    }

    .sideMenu {
        width: 200px;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        position: absolute;
        right: 0;
        padding: 10px 10px 10px 0;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        transform: translateY(-50%);
        opacity: 0;
        transition: all 0.2s ease;
    }

    .active {
        transform: translateY(0);
        opacity: 1;
    }

    .navLinkForSmallerScreens {
        margin: 5px 0 10px 0;
    }
}

@media (max-width: 479px) {
    header {
        width: 350px;
    }

    main {
        width: 350px;
    }

    .profilePicture {
        width: 35px;
        height: 35px;
    }
}