.techStackSection{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}

.techStackHeading{
    width: fit-content;
    height: 100px;
    margin-bottom: 40px;
}

.techStackHeading h2{
    font-size: 35px;
    font-weight: 700;
}

.techStackTiles{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.techStack{
    width: 100px;
    height: 100px;
    padding: 15px;
    border: none;
    border-radius: 20px;
    margin: 20px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: var(--tech-tiles-background);
    cursor: pointer;
    transition: all 0.3s ease;
}

.techStack i{
    font-size: 70px;
    cursor: pointer;
    filter: brightness(1.0) contrast(1.1) saturate(1.15);
}

.techStack:hover{
    box-shadow: var(--tech-stack-hover-shadow);
    transform: translateY(-5px);
}


@media (max-width: 767px){
    .techStackHeading{
        margin-bottom: 15px;
    }

    .techStackHeading h2{
        font-size: 30px;
    }

    .techStack{
        width: 70px;
        height: 70px;
        padding: 8px;
    }

    .techStack i{
        font-size: 50px;
    }
}

@media (max-width: 479px){
    .techStackHeading{
        margin-bottom: 5px;
    }

    .techStackHeading h2{
        font-size: 25px;
    }

    .techStack{
        width: 60px;
        height: 60px;
        padding: 12px;
        margin: 15px;
    }

    .techStack i{
        font-size: 35px;
    }
}